
/* COLOURS
--brown: #795019ff;
--eerie-black: #1B2023ff;
--deep-jungle-green: #004849ff;
--caput-mortuum: #582521ff;
--kobe: #803818ff;
--alabaster: #E4E4D7ff; 
*/

/* GLOBAL STYLES
-----------------------------------------*/
body {  
    color: blanchedalmond;
    background-color: #803818ff;
    text-align: left;
    background-image: url(../images-folder/insense.jpg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 40px;
}



/* ABOUT
-----------------------------------------*/
header {
    background-color: #1B2023ff;
    color: blanchedalmond;
    -ms-text-align-last: right;
    padding: 20px;
    min-width:10ovw;
    font-size: 25px;
}

.tesla {
  width: 10px;
  height: 30px;
  align-items:stretch;
}

/* BLOG
-----------------------------------------*/
.blog {
    padding: 15px;
    margin: 15px;
    text-align: center;
    color:blanchedalmond;
    border-radius: 10px;
}

/* LEARNING PLAN
-----------------------------------------*/
.learning_plan {
    padding: 10px;
    margin: 15px;
    
}

.sticky {
  align-content:stretch;
}
/* identity
-----------------------------------------*/
.identity {
    padding: 10px;
    margin: 15px;
    text-align: center;
    color:blanchedalmond;
    border-radius: 10px;
}

img {
    
  border-radius: 10px;
  box-shadow: 10px 10px 5px #00000029;
  width: 40vw;
  align-content: center;

/* CONTACT INFO
-----------------------------------------*/
footer {
    background-color: #803818ff;
    color: blanchedalmond;
    padding: 30px;
    font-size: 20px;
    text-align: center;
    /* add box shadow */
    box-shadow: inset 5px 40px 99px #00000029;
} 
/* LINKS FORMAT
------------------------------------------*/
/* unvisited link */
a:link {
    color:blanchedalmond;
    text-align: center;
  }
  /* visited link */
  a:visited {
    color: blanchedalmond;
    text-align: center;
  }
  /* mouse over link */
  a:hover {
    color:lightcoral;
    text-align: center;
  }
  /* selected link */
  a:active {
    color: blue;
    text-align: center;
  }

  ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
