
body {
    background-image: url(../images-folder/blog_background.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: grey;
    font-family: Arial;
    color: rgba(255, 228, 196, 0.925);
}
.wrapper {
    max-width: 980px;
    display: flex;
    justify-content: flex-start;
    margin: 90px;
}
.title {
    width: 100%; 
    padding: 20px;
    background-color: black;
    color: grey;
    align-content: center;
    font-family: "amiri";
    font-weight: 600;
    text-align: center;

}

.blog_links {

    width: 100%;
    background-color: black;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 60vh;
    margin-top: 35px;
    padding:20px;
    



}


li {

    padding: 5px;
    margin-top:15px;
    border-bottom: grey;
    border-width:2px;
    border-style: solid;
    background-color: black;
    display:block;
}
.about_me {

    width: 25vw;
    padding: 35px;
    background-color: lightblue;

}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-title {
    text-transform: uppercase;
    margin-top: 25%;
    margin-bottom: 0.1em;
    font-size: 95pt;
}
.header-nav {
    padding: 1.5em;
}
.header-nav-btn {
    text-transform: uppercase;
    text-decoration: none;
    color:rgba(255, 166, 0, 0.644);
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 20pt;
}
.header-quote {
    margin-top: 0px;
    margin-bottom: 500px;
    font-size: 20pt;
    color:rgba(255, 228, 196, 0.568);
    text-align: center;
}


.footer-container a{
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 166, 0, 0.459);
}
.footer-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}